
html, body {
height:100%;
width:100%;
background: url("https://www.google.ca/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png") no-repeat center;
margin: 0;
padding: 0;
}

.topnavbar img {
float:right;
padding-top: 8px;
padding-right: 8px;
}

.topnavbar ul {
list-style-type: none;
    margin: 0;
 background-color:white;
    overflow:hidden;
    height:40px;
}

.topnavbar li {
	float:right;
	padding:10px;
}

.topnavbar a li{
	display:block;
	font-size: 16px;
	text-align: center;
	color: grey;
}

.searchbar {
	width:300px;
	margin: auto;
	transform: translate(0%,1800%);
}

.searchbar input{
	background: transparent;
}

#navcontainer {
   min-height:100%;
   position: relative;
}
#navheader {
   background: white;
   padding:10px;
   bottom:0;
}
#navbody {
   padding:10px;
   padding-bottom:40px;   /* Height of the footer */

}

